{% extends 'base.html.twig' %}

{% block title %}Hello MovieDetailController!{% endblock %}

{% block body %}


    <div class="example-wrapper">


        <h1 class="text-2xl">{{ movie.name }}</h1>
        <p class="italic"> {{ movie.description }}</p>
        <p>Note locale: {{ movie.score }}</p>
        <p>Nombre de vote local: {{ movie.votersNumbers }}</p>
        <p>Note IMDB: {{ movie.imdbRating }}</p>
        <p>Nombre de vote IMDB: {{ movie.imdbVotes }}</p>
        {{ form(delete) }}
    </div>
{% endblock %}
