{% extends 'base.html.twig' %}

{% block title %}Hello AddMovieController!{% endblock %}

{% block body %}

    <div class="example-wrapper">


        <h1 class="text-2xl mt-8 mb-2">Ajouter un film</h1>
        <p class="italicm mb-4">Si vous ajoutez un film déjà existant, alors cela calculera juste la nouvelle note!</p>

        {# {{ form(form) }}
        #}
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors text-red-500 font-bold">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col my-1">
                {{ form_row(form.name ) }}
            </div>
            <div class="col my-1">
                {{ form_row(form.score ) }}
            </div>
            <div class="col my-1">
                {{ form_row(form.addBy ) }}
            </div>
            <div class="rounded-full bg-blue-300 w-fit p-3">
                {{ form_row(form.save, { 'label': 'Submit me' }) }}
            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
